.green{
    color: #37ce8f;
}
.red{
    color: tomato;
}
.Card-containerWhite{
    width: auto;
    border: none;
    background-color: #f0f3fa;
    border-radius: 8px;
    height: 170px;
    padding: 1.7em 0;
    color: #252b43;
}
.Card-containerDark{
    width: auto;
    border: none;
    background-color: #252b43;
    border-radius: 8px;
    height: 170px;
    padding: 1.7em 0;
    color: white;
}
.today{
    display: flex;
    justify-content: center;
    align-items: center;
}
.today img{
    margin-right: 5px;
}
.Me, .Followers{
    margin-bottom: 1em;
}
.Me p{
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Me p img{
    margin-right: 10px;
}
.Followers p{
    text-align: center;
}
.Follower-status{
    margin: 0;
    text-align: center;
}
.Followers p strong{
    font-size: 50px;
}