.white{
    color: black;
}
.dark{
    color: #8088ad;
}

.Logo{
    text-align: start;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 650;
    color: #8088ad;
}
.h1{
    color: #1d2029;
    margin-top: 32px;
    font-size: 27px;
}
.h1-dark{
    color: white;
    margin-top: 32px;
    font-size: 27px;
}
.WhiteMode-Container{
    background-color: #f7f7f7;
    height: 170px;
    display: flex;
    justify-content: space-between;
}
.DarkMode-container{
    color: white; /*8088ad*/
    background-color: #1d2029;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.switcher{
    height: 100%;
    align-self: center;
}
.Cards-container{
    margin: -50px 20px 0 20px;
    /* margin-top: -50px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}